$black-normal: #0d0e10;
$black-dark: #050607;
$black-light: #15171a;

$white-normal: #f5f7f7;
$white-dark: #edeff0;
$white-light: #fafcfc;

$purple-normal: #7a2bb0;
$purple-dark: #511d75;
$purple-light: #a239ea;
