h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Barlow Condensed', sans-serif;
  color: $white-normal;
  font-weight: 400;
}

.link {
  padding: 8px 24px;
  font-size: 16px;

  transition: 0.3s ease;

  position: relative;

  &::after {
    content: '';
    display: block;

    background-color: $purple-light;

    position: absolute;
    top: 100%;
    left: 0;

    width: 0%;
    height: 2px;

    transform: translate(15%, -50%);

    transition: 0.3s ease;
  }

  &:hover {
    color: $purple-light;

    &::after {
      width: 80%;
    }
  }
}

h1 {
  font-size: 72px;
  line-height: 100%;
}
h2 {
  font-size: 56px;
  line-height: 110%;
}
h3 {
  font-size: 40px;
  line-height: 115%;
}
h4 {
  font-size: 32px;
  line-height: 120%;
}
h5 {
  font-size: 24px;
  line-height: 140%;
}
h6 {
  font-size: 18px;
  line-height: 150%;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 16px;
  }
}

.mask {
  // display: inline-block;
  background: linear-gradient(255deg, #7a2bb0 0%, #a239ea 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
  margin-top: 40px;
}

.square {
  display: inline-block;
  font-size: 24px;

  margin-top: 144px;
  padding: 16px 24px;

  position: relative;

  &::after {
    content: '';
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    transform: translate(-20%, -25%) rotate(45deg);

    border-radius: 8px;

    background: linear-gradient(225deg, #a239ea -20%, $black-dark 90%);

    width: 120px;
    height: 120px;

    transition: 0.3s ease;
  }

  &:hover {
    &::after {
      transform: translate(-10%, -25%) rotate(45deg);
    }
  }
}
@media screen and (max-width: 960px) {
  .square {
    margin-top: 80px;

    &::after {
      width: 86px;
      height: 86px;

      transform: translate(-0%, -15%) rotate(45deg);
    }
    &:hover {
      &::after {
        transform: translate(5%, -15%) rotate(45deg);
      }
    }
  }
}
